div.menu {
  padding: 10px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  border-radius: 3px;
  border: 2px black solid;

  position: sticky;
  width: fit-content;
  height: fit-content;

  margin: 10px auto;
  margin-bottom: 10px;

  background-color: #dab9c9;
  filter: drop-shadow(5px 5px 5px rgb(82, 71, 71, 82));
}

.menu a {
  transition: font-weight 0.1s, color 0.1s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: #202020;
}

.menu a:link {
  text-decoration: none;
  font-weight: 400;
}

.menu a:hover {
  font-weight: 700;
}

.menu a:active {
  color: #808080;
}

.menu a div {
  padding: 10px 100px;
}

.footer {
  margin: auto;
  padding: 0;

  bottom: 0;
  position: absolute;

  width: auto;
  height: 6em;

  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;

  font-family: "Akira", "Time News Roman", Times, serif;
}

.footer p {
  text-align: center;
  margin: auto;
}

.footer div ul {
  list-style-type: none;
  list-style-position: outside;
}

.footer div ul li {
  margin: auto 0;
}

.contactlink {
  font-family: "Helvetica", "Segoe UI", sans-serif;
  color: whitesmoke;
  text-decoration: dotted underline;
}

.contactlink:hover {
  color: pink;
}

.contactlink:active {
  color: whitesmoke;
}

.grid-1-2 {
  display: grid;
  width: 100%;
  grid-template-columns: 30% auto;
  grid-gap: 10px;
}

.iconcontact {
  height: 1em;
}

.pagecontainer {
  position: relative;
  min-height: 100vh;
}

.contentwrap {
  padding-bottom: 8em;
}
